Repository tokku5552/line-message-validator, changes with the labels that .github/labeler.yml gives for each.
All labels: cicd, code, config, public, documentation, dependencies

.github/labeler.yml:

cicd:
  - github/workflows/**/*
code:
  - src/**/*
  - package.json
  - yarn.lock
config:
  - .vscode/**/*
  - extensions/manifest.json
  - .eslintrc.json
  - .gitignore
  - jest.config.js
  - next.config.js
  - renovate.json
  - tsconfig.json
public:
  - public/**/*
documentation:
  - README.md
dependencies:
  - package.json
  - yarn.lock

fix
  .vscode/settings.json
Labels: config

add: auto-assgin
  .github/workflows/auto-assign.yml
Labels: none

fix: ci
  .github/workflows/ci.yml
Labels: none

fix: gha
  .github/workflows/create_pr_main_to_develop.yml
  .github/workflows/create_release_pr.yml
Labels: none

fix: resolutions
  package.json
  yarn.lock
Labels: code, dependencies

fix: auto update vscode setting
  .vscode/settings.json
Labels: config

add
  .node-version
Labels: none

fix
  package.json
  yarn.lock
Labels: code, dependencies

fix: unit test
  package.json
  src/components/Header/index.spec.tsx
  yarn.lock
Labels: code, dependencies

fix: update node version
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .node-version
  .tool-versions
Labels: none

fix: ci
  .github/workflows/ci.yml
  .github/workflows/release.yml
  next.config.js
  package.json
Labels: code, config, dependencies

refactor: add logger and mask token
  src/api/validator.ts
  src/logger.ts
Labels: code

refactor: await validator post
  src/api/validator.ts
Labels: code

Handle JSON parse errors
  src/pages/index.tsx
Labels: code

Make result textarea read-only
  src/components/Form/index.tsx
Labels: code

chore: restrict host permissions to reply endpoint
  extensions/manifest.json
Labels: config

feat: avoid persistent token storage
  README.md
  src/pages/index.tsx
Labels: code, documentation

Add timeout and timeout handling for validator
  src/api/validator.spec.ts
  src/api/validator.ts
Labels: code

test: add validator error cases
  src/api/validator.spec.ts
Labels: code

feat: broaden validator body type
  src/api/validator.spec.ts
  src/api/validator.ts
  src/pages/index.tsx
Labels: code

feat: add yml
  .github/workflows/claude.yml
Labels: none

fix
  .github/workflows/claude.yml
Labels: none

fix
  .github/workflows/claude.yml
Labels: none

add
  .claude/commands/.gitkeep
Labels: none

fix version
  .github/workflows/claude.yml
Labels: none

"Update Claude PR Assistant workflow"
  .github/workflows/claude.yml
Labels: none

"Claude Code Review workflow"
  .github/workflows/claude-code-review.yml
Labels: none

fi
  .github/workflows/claude.yml
Labels: none

remove
  .github/workflows/claude.yml
Labels: none

Add renovate package group for react-hook-form
  renovate.json
Labels: config

fix
  renovate.json
Labels: config

fix
  .tool-versions
Labels: none

fix
  package.json
  yarn.lock
Labels: code, dependencies

fix
  package.json
  src/pages/index.tsx
  yarn.lock
Labels: code, dependencies

Mitigate supply chain attacks: add --ignore-scripts and minimumReleaseAge
  .github/workflows/ci.yml
  .github/workflows/release.yml
  renovate.json
Labels: config

chore(renovate): enable auto-merge for minor and patch updates
  renovate.json
Labels: config

chore(deps): Fix high severity Dependabot alerts
  package.json
  yarn.lock
Labels: code, dependencies

fix: resolve high-severity dependency alerts
  yarn.lock
Labels: code, dependencies

fix: bot が作った PR の CI が承認待ちで止まるのを直す
  .github/workflows/create_pr_main_to_develop.yml
  .github/workflows/create_release_pr.yml
Labels: none

Fix high severity Dependabot alerts in yarn.lock
  yarn.lock
Labels: code, dependencies
